
@font-face {
    font-family: 'GoodTimes';
    src: url('/assets/good_times_rg.otf') format('opentype');
}
body {
    padding: 0;
    margin: 0;
    background-image: url('/assets/background_third.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(6px); /* Adjust the blur radius as needed */
    z-index: -1;
    pointer-events: none;
}

.header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px
}

.dashboard-header-logo {
    height: 5rem; 
    margin-left: 0px;
}

.dummy-header {
    width: 120px;
}

h1 {
    font-family: 'GoodTimes', sans-serif;
    text-shadow:
    1px 1px 1px rgb(175, 234, 255),
    3px 3px 1px rgb(28, 40, 41);
    
}

.dashboard-div{
    position: relative;
    z-index: 1;
}

.dashboard-header-title{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(0, 0,0,0);
    border-radius: 2px;
    margin-top: 0;
    margin-bottom: 0;
    align-content: flex-start;
}

.inputs-and-content-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.dashboard-inputs {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-left: 0px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 300px;
}
.dashboard-inputs:hover{
    box-shadow: 0 4px 8px 0 rgba(3, 61, 83, 0.769);
    box-shadow: 0 8px 16px 0 rgba(2, 75, 80, 0.3);
}

.upper-dashboard-inputs{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0);
    min-width: 300px;
}

.lower-dashboard-inputs {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.single-input-div{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
}

.single-input-label{
    padding: 0;
    margin-bottom: 5px;
    font-size: small;
    color: aliceblue;
    font-family: 'GoodTimes', sans-serif;
    text-shadow:
    1px 2px 1px rgb(16, 23, 23);
}

.single-input{
    padding: 2;
    margin-top: 0;
    background-color: aquamarine;
}

.main-content-div-plots{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-left: 350px;
    margin-top: 20px;   
    width: 30%;
}

.main-content-div-tables{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: flex-start;
    gap: 20px;
    width: 75%;
}

.main-content-div-tables-inner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: flex-start;
    gap: 10px;
}

.table-card{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
}

.table-body{
    width: 100%;
    
}

.last-table-card{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
}

.last-table-body{
    width: 100%;
    
}


.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 400px;
    max-height: 210px;
}

.main-card:hover{
    box-shadow: 0 4px 8px 0 rgba(8, 128, 176, 0.628);
    box-shadow: 0 8px 16px 0 rgba(237, 229, 229, 0.35);
}

.main-card-label{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-bottom: 5px;
    font-size: small;
    color: aliceblue;
    font-family: 'GoodTimes', sans-serif;
    text-shadow:
    1px 2px 1px rgb(16, 23, 23);
    width: 100%;
}


.gif-loading .dash-spinner {
    visibility: hidden; /* Hide the default spinner */
}

.gif-loading::after {
    content: "";
    background-image: url("/assets/loading.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px; 
    height: 80px; 
    display: block;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 3;
}